[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "skyscapeR"]
	path = skyscapeR
	url = https://github.com/f-silva-archaeo/skyscaper
